body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(255, 255, 255);
}
input{
  width: 100px;
}
.container{
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
}
.bars {
  text-align: center;
  display:flex;
  flex-direction: row;
}
.value_bar{
  margin: 0px 2px;
  background-color: #61dafb;
  width: 5px;
  bottom: 0;
}
.selected{
  background-color: red;
}
.value_bar:hover{
  background-color: white;
}
